<form (submit)="onSubmit()">
  FName: <input type="text" [(ngModel)]="fname" name="fname" />
  <button>Search</button>
</form>
<button *ngIf="prev$ | async" type="button" (click)="onPrev()">Prev</button>
<button *ngIf="next$ | async" type="button" (click)="onNext()">Next</button>
<p *ngIf="loading$ | async">loading</p>
<div *ngIf="!(loading$ | async)">
  <table border="1" *ngFor="let item of list$ | async">
    <tr>
      <td width="300px">{{ item.name }}</td>
      <td width="200px">{{ item.type }}</td>
      <td width="100px">{{ item.race }}</td>
      <td width="100px">{{ item.attribute }}</td>
    </tr>
  </table>
</div>
